/*===== Google Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== Colors =====*/
:root {
	--first-color: #311b92;
	--second-color: #000063;
}
#error-text {
	color: red !important;
}
/*===== Font Sizes =====*/
:root {
	--body-font: 'Poppins', sans-serif;
	--big-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: 0.9rem;
}

/*===== MARGINS =====*/

/*===== Z INDEX =====*/

/*===== BASE =====*/

/*===== VARIABLES CSS =====*/
:root {
	--header-height: 3rem;
}

/*===== LAYOUT =====*/
.bodyContainer {
	min-height: 80vh;
	background-color: lightgray;
}
h2 {
	text-align: center;
	padding: 0.5rem 0;
}
/* ===== LANDING =====*/
.landingContainer {
	min-height: 80vh;
	background-color: lightgray;
}
/* ===== NAVBAR =====*/

/* ===== FOOTER ===== */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	bottom: 0px;
	padding: 2rem 0;
}
#github {
	padding: 4px;
	font-size: 1.5rem;
	color: black;
}
#copyright {
	padding-left: 1rem;
}

/*===== FORMS =====*/
.Register-form {
	background-color: whitesmoke;
	margin: 2rem;
	padding: 2rem;
	border-radius: 20px;
}
.Login-form {
	background-color: whitesmoke;
	margin: 2rem;
	padding: 2rem;
	border-radius: 20px;
}
.Booking-form {
	background-color: whitesmoke;
	margin: 2rem;
	padding: 2rem;
	border-radius: 20px;
}

/* ====== BUTTONS ====== */
.button {
	display: inline-block;
	background-color: var(--first-color);
	color: #fff;
	padding: 0.75rem 2.5rem;
	font-weight: var(--font-semi);
	border-radius: 0.5rem;
}
.registerSubmitButton {
	display: flex;
	justify-content: space-between;
}
.registerOtherButtons {
	padding-left: 1rem;
}
.loginSubmitButton {
	display: flex;
	justify-content: space-between;
}
.loginOtherButtons {
	padding-left: 1rem;
}
.bookingFormButton {
	display: flex;
	justify-content: center;
}

/* ===== ALERTS ===== */

.alert-danger {
	left: 35%;
	z-index: 100;
	position: absolute;
	text-align: center;
	top: 85px;
	width: 30%;
	color: #ff0019;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	border-radius: 40px;
	transition: all 0.5s ease-out;
}

.alert-success {
	left: 35%;
	z-index: 100;
	position: absolute;
	text-align: center;
	top: 85px;
	width: 30%;
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	border-radius: 40px;
}

.alert-undefined {
	left: 35%;
	z-index: 100;
	position: absolute;
	text-align: center;
	top: 85px;
	width: 30%;
	color: #ff0019;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	border-radius: 40px;
	transition: all 0.5s ease-out;
}

/* ===== MEDIA QUERIES=====*/

/* @media screen and (min-width: 768px) {
	:root {
		--big-font-size: 3.5rem;
		--h2-font-size: 2rem;
		--normal-font-size: 1rem;
	}
	body {
		margin: 0;
	}

	.section {
		padding-top: 4rem;
		padding-bottom: 3rem;
	}

	.section-title {
		margin-bottom: var(--mb-6);
	}
	.section-title::after {
		width: 80px;
		top: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.bd-grid {
		margin-left: auto;
		margin-right: auto;
	}
} */
