.navbar {
	background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
	min-height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar-brand {
	color: #fff;
	justify-self: start;
	margin-left: 3rem;
	font-size: 2rem;
	display: flex;
	align-items: center;
}
.nav-link {
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem 1rem;
	height: 100%;
}

.nav-link:hover {
	border-bottom: 0.1rem solid #fff;
	transition: all 0.2s ease-out;
}
